<% include ../layout/header %>
<link rel=stylesheet href=/bower_components/codemirror/lib/codemirror.css>
<script src=/bower_components/ejs/ejs.js></script>
<script src=/bower_components/codemirror/lib/codemirror.js></script>
<script src=/bower_components/codemirror/mode/xml/xml.js></script>
<script src=/bower_components/codemirror/mode/javascript/javascript.js></script>
<script src=/bower_components/codemirror/mode/css/css.js></script>
<script src=/bower_components/codemirror/mode/htmlmixed/htmlmixed.js></script>
<script src=/bower_components/codemirror/mode/htmlembedded/htmlembedded.js></script>
<style type="text/css">
	.CodeMirror {
		border-top: 1px solid black; 
		border-bottom: 1px solid black;
		height: 100%;
	}

	iframe {
	    width: 100%;
	    height: 600px;
	    border: 1px solid black;
	  }
	.window-editor{
	position: relative;
	}
	.CodeMirror{
		max-height: 400px;
	}
	.window_label {
	border: solid 1px #F1F1F1;
	background: #fff;
	display: inline-block;
	height: 22px;
	padding: 0 6px;
	line-height: 22px;
	position: absolute;
	top: 7px;
	right: 6px;
	text-align: center;
	font-size: 12px;
	color: #777;
	border-radius: 1px;
	z-index: 30;
	}
</style>

    <div class="container">
	    <div class="row">
		  	<div class="col-md-3">
		  		<div>
		  			<form action="/periodic/content/query" method="post" autocomplete="on" id="content_query_form" name="content_query_form" class="form-horizontal text-left">

					    <input type="hidden" name="_csrf" value=<%= token %> >

					    <div class="control-group">
					        <div class="controls">
					            <input type="text" id="inputFieldsQuery" name="fields" placeholder="{}">
					        </div>
					    </div>
		  				<div class="control-group">
					        <div class="controls">
					            <input type="text" id="inputOptionsQuery" name="options" placeholder="{}">
					            <a class="btn btn-success" id="do-content-query">query</a>
					        </div>
					    </div>
		  			</form>

		  		</div>
                 	<div class="window-editor">
        			    <textarea id=data-js name=data-js>
{
response: [
	{
		created_at: "2013-10-02T14:53:02Z",
		id: 56695,
		image_url: "http://distilleryimage6.s3.amazonaws.com/b7ca8d90233911e38fcc22000aa801f0_7.jpg",
		source: "instagram",
		source_id: "550306389751476354_175994331",
		source_user_avatar: "http://images.ak.instagram.com/profiles/profile_175994331_75sq_1376482584.jpg",
		source_user_id: "175994331",
		source_user_name: "myschqaqylla",
		text: "Muka tak rela blik hostel. #turquoise #hijab #muslimah #kmm #veterinarian",
		updated_at: "2013-10-02T14:53:02Z",
		url: "http://instagram.com/p/ejFL7uw7CC/"
	},
	{
		created_at: "2013-10-02T14:31:18Z",
		id: 56694,
		image_url: "http://distilleryimage3.s3.amazonaws.com/cb2540302b6611e39d8022000a1fa9ec_7.jpg",
		source: "instagram",
		source_id: "557847489418861371_44867533",
		source_user_avatar: "http://images.ak.instagram.com/profiles/profile_44867533_75sq_1374281479.jpg",
		source_user_id: "44867533",
		source_user_name: "ninacocoabeana",
		text: "Gawd I love doing my nails bahahaha",
		updated_at: "2013-10-02T14:31:18Z",
		url: "http://instagram.com/p/e931YFp5s7/"
	},
	{
		created_at: "2013-10-02T14:31:18Z",
		id: 56693,
		image_url: "http://distilleryimage1.s3.amazonaws.com/0daddf482b6711e385e022000a9e51fb_7.jpg",
		source: "instagram",
		source_id: "557848425781928209_346293975",
		source_user_avatar: "http://images.ak.instagram.com/profiles/profile_346293975_75sq_1365325270.jpg",
		source_user_id: "346293975",
		source_user_name: "jennie_lou_who",
		text: "#ootd #khakis and #turquoise",
		updated_at: "2013-10-02T14:31:18Z",
		url: "http://instagram.com/p/e94DAJPiER/"
		}
	],
	count: 3,
	pagination: {
		previous: null,
		next: 2,
		current: 1,
		per_page: 30,
		count: 52047,
		pages: 1735
	}
}								    
				</textarea>
				<span class="window_label" style="opacity: 1;">Data</span>	
				</div>
			</div>
		  	<div class="col-md-3">



                 <div class="window-editor">
			    <textarea id=css name=css>

p{
color: #ff3300;
font-size: 16px;
}
p.dynamic {
color: #ffee00;
}

				</textarea>
			<span class="window_label" style="opacity: 1;">CSS</span>	
		</div>

                <div class="window-editor">
			    <textarea id=code name=code>
<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>HTML5 canvas demo</title>
    <style id="code_styles">
    p {font-family: monospace;}
    {{css}}
    </style>
    <# var data = {{data}} #>
  </head>
  <body>

	<# 
	var items = data['response'];
	for (x in items){ 
	#>
			<p class="dynamic">
			<#= items[x].text #>
			</p>
	<# } #>	  

	This is an example of EJS (embedded javascript)
    <p>Canvas pane goes here:</p>
    <canvas id=pane width=300 height=200></canvas>
    <script>
      var canvas = document.getElementById('pane');
      var context = canvas.getContext('2d');

      context.fillStyle = 'rgb(250,0,0)';
      context.fillRect(10, 10, 55, 50);

      context.fillStyle = 'rgba(0, 0, 250, 0.5)';
      context.fillRect(30, 30, 55, 50);
    </script>
  </body>
</html>
			</textarea>
			<span class="window_label" style="opacity: 1;">HTML</span>	
		</div>

		  	</div>
		 	<div class="col-md-6">
	 		    <div class="heading">
			        <h4 class="form-heading">Module Preview</h4>
			    </div>
			    <iframe id=preview></iframe>
			     

			    <script>
			    _.templateSettings = {
  					interpolate: /\{\{(.+?)\}\}/g
				};
			      var delay;
			      // Initialize CodeMirror editor with a nice html5 canvas demo.
			      var editor_data = CodeMirror.fromTextArea(document.getElementById('data-js'), {
			        mode: 'text/javascript'
			      });
			      editor_data.on("dblclick", function() {
					clearTimeout(delay);
					delay = setTimeout(updatePreview, 300);
				  });
			      var editor_css = CodeMirror.fromTextArea(document.getElementById('css'), {
			        mode: 'text/css'
			      });
			      editor_css.on("dblclick", function() {
					clearTimeout(delay);
					delay = setTimeout(updatePreview, 300);
				  });
			      var mixedMode = {
			        name: "smartymixed",
			        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i, 
			                       mode: null},
			                      {matches: /(text|application)\/(x-)?vb(a|script)/i,
			                       mode: "vbscript"},]
			      }; 
			      var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
			        mode: 'application/x-ejs',
			        tabMode: 'indent',
			        lineNumbers: true,
			        indentUnit: 4,
			        indentWithTabs: true,
			        enterMode: "keep",
			        tabMode: "shift"
			      });
			      editor.on("dblclick", function() {
			        clearTimeout(delay);
			        delay = setTimeout(updatePreview, 300);
			      });
			      
			      function updatePreview() {
			        var previewFrame = document.getElementById('preview');
			        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
			        preview.open();
			        var preview_css = editor_css.getValue();
			        var preview_data = editor_data.getValue();
			        var preview_tmpl = _.template( editor.getValue() );
			        var preview_html = preview_tmpl({
			        css: preview_css,
			        data: preview_data
			   		});
			        preview.write( ejs.render(preview_html,{open:'<#',close:'#>'}));
			        preview.close();
			      }
			      setTimeout(updatePreview, 300);
			    </script>
		 	</div>
		</div>
    </div>
    <script type="text/javascript">
    	$(function(){
    		$("#do-content-query").click(function(e){
    			var formData = {
    				fields:$("#inputFieldsQuery").val(),
    				options:$("#inputOptionsQuery").val(),
    				_csrf:"<%= token %>"
    			};
    			if(updateRequest){
			        updateRequest.abort();
			    }
			    var updateRequest = $.ajax({
			        url: '/periodic/content/query',
			        type: "post",
			        dataType: "json",
			        data: formData
			    });
			    updateRequest.done(function(response, textStatus, jqXHR){
			        console.log(response.data)
			        switch (response.result){
			            case "success":
			            	editor_data.setValue(JSON.stringify(response.data, null, "\t"));
			            	break;
			            default:
			                repetereWebPlatformApp.showAlert("error",response.data,2000);
			                break;
			        }
			        
			    });
			    updateRequest.fail(function(jqXHR, textStatus, errorThrown){				    		        
					console.log(errorThrown,2000);
			    });
			    updateRequest.always(function () {
			        // repetereWebPlatformApp.hideProgressBar();
			    });
				return false;
		        e.preventDefault();
    		});
    	})
    </script>
<% include ../layout/footer %>