<% include ../layout/header %>
    <div class="container">
	    <div class="row">
		  	<div class="col-md-6">
		  		<form class="form-horizontal">
                    <div class="heading">
                        <h4 class="form-heading">Select a site</h4>
                    </div>
                    <div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
							    <img src="/images/icon-grub.jpeg" alt="ALT NAME">
							    <div class="caption">
							      <h3>Grub Street</h3>
							      <p></p>
							      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
							    </div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
							    <img src="/images/icon-cut.jpeg" alt="ALT NAME">
							    <div class="caption">
							      <h3>The Cut</h3>
							      <p></p>
							      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
							    </div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
							    <img src="/images/icon-intelligencer.jpeg" alt="ALT NAME">
							    <div class="caption">
							      <h3>Intelligencer</h3>
							      <p></p>
							      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
							    </div>
							</div>
						</div>
					</div>
                </form>	
		  	</div>
		 	<div class="col-md-6">
	 		    <div class="heading">
			        <h4 class="form-heading">Create a site</h4>
			    </div>
                <% include ../sites/create_form %>
		 	</div>
		</div>
    </div>
<% include ../layout/footer %>