<% include ../layout/header %>
    <h1>This is the content show page: <%= content.name %></h1>
    <a class="btn btn-info" id="update-content-button">update content</a>
    <script type="text/javascript">
    	$(function(){
    		$("#update-content-button").click(function(e){
    			var formData = {data:"dummydata",_csrf:"<%= token %>"};
    			if(updateRequest){
			        updateRequest.abort();
			    }
			    var updateRequest = $.ajax({
			        url: '/periodic/content/<%= content.name %>/update',
			        type: "post",
			        dataType: "json",
			        data: formData
			    });
			    updateRequest.done(function(response, textStatus, jqXHR){
			        console.log(response.result)
			        switch (response.result){
			            case "success":
			            	console.log(response)
			            	break;
			            default:
			                repetereWebPlatformApp.showAlert("error",response.data,2000);
			                break;
			        }
			        
			    });
			    updateRequest.fail(function(jqXHR, textStatus, errorThrown){				    		        
					console.log(errorThrown,2000);
			    });
			    updateRequest.always(function () {
			        // repetereWebPlatformApp.hideProgressBar();
			    });
				return false;
		        e.preventDefault();
    		});
    	})
    </script>
<% include ../layout/footer %>