<% include ../layout/header %>
    <div class="container">
	    <div class="row">
		  	<div class="col-md-6">

		  		<h1><%= site.name %></h1>
		  		<form class="form-horizontal">
                    <div class="heading">
                    </div>
                    <div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
							    <img src="http://placehold.it/350x350" alt="ALT NAME">
							    <div class="caption">
							      <p></p>
							      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Add</a></p>
							    </div>
							</div>
						</div>
					</div>
                </form>	
		  	</div>
		 	<div class="col-md-6">
		 	</div>
		</div>
		<div class="row">
		 	<div class="col-md-6">
			        <div class="controls" style="padding: 8px;">
			            <button type="submit" class="btn btn-success">Submit</button>
			        </div>
			</div>
		</div>

    </div>
<% include ../layout/footer %>