<% include ../layout/header %>
<script src=/bower_components/jquery-backstretch/jquery.backstretch.js></script>
<style>
#myTabContent{
	background: #000;
	padding: 8px;
}
.nav-tabs>li {
}
.nav-tabs>li>a{
	background: #333;
}

.tab-pane form div{
	margin: auto;
}
#loginModal{
	width: 50%;
	margin: auto;
}
</style>
<script>
 // To attach Backstrech as the body's background
  $.backstretch("/images/login-bg.jpg");
</script>
<div class="container">
	<div class="" id="loginModal">
        <div class="modal-heade r">
		</div>
        <div class="modal-body">
            <div class=" ">
				<ul class="nav nav-tabs">
				<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
				<li><a href="#create" data-toggle="tab">Create Account</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane active in" id="login">
						<form action="/periodic/auth/login" method="post" autocomplete="on" id="login_form" name="login_form" class="form-horizontal text-left">
							<% include login_form %>
						</form>               
					</div>
					<div class="tab-pane fade" id="create">
					 	<form action="/periodic/users/new" method="post" autocomplete="on" id="user_form" name="user_form" class="form-inline ">
							<% include register_form %>
						</form> 
					</div>
				</div>
          	</div>
    	</div>
	</div>
</div>
<% include ../layout/footer %>