<input type="hidden" name="_csrf" value=<%= token %> >

<div class="control-group">
	<input type="email" name="email" placeholder="Your email address" class="input-block-level" />

</div>
<div class="control-group">
	<input type="text" name="username" placeholder="username" class="input-block-level"/>

</div>
<div class="control-group">
	<input type="password" name="password" placeholder="password" class="input-block-level"/>

</div>
<div class="control-group">
	<input type="password" name="passwordconfirm" placeholder="confirm password" class="input-block-level" />

	
</div>
<div>
	<button type="submit" name="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> Register</button>
	<a href="/login" class="btn btn-info">Sign in</a>
	<a href="/auth/facebook" class="btn btn-info">login with Facebook</a>
<!-- 	<a href="/users" class="btn">Cancel</a>
 -->
</div>