<!DOCTYPE html>
<html>
	<head>
		<title>Periodic</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap core CSS -->
	    <!-- <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->
	    <link href="/stylesheets/bootstrap.slate.min.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="/bower_components/bootstrap/assets/js/html5shiv.js"></script>
	      <script src="/bower_components/bootstrap/assets/js/respond.min.js"></script>
	    <![endif]-->

	    <!-- Custom styles for this template -->
	</head>
	<body>
	<% include partial/topnavbar %>
	<div class="container">
	<% console.log(user);%>
	<% if(flash_messages != undefined ){%>
	    <div id="alert-container"><%= flash_messages.error %></div>
	<%} %>
    </div>